{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="" content="width=device-width, initial-scale=1">
        <title>Video compress and Upload</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{% static "video_compress/bootstrap/css/bootstrap.min.css" %}">
		<link rel="stylesheet" href="{% static "video_compress/css/form-elements.css" %}">
        <link rel="stylesheet" href="{% static "video_compress/css/style.css" %}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body background="{% static "video_compress/img/backgrounds/1.jpg" %}">

        <!-- Top content -->
        <div>
                <div class="container">
                    <div class="row">
                      {% if video_successfully_uploaded == True %}
                        <div class="discription form-top">
                          <p><strong>Your video is added successfully!</strong></p>
                        </div>
                      {% endif %}
                    </div>        
                    <div class="row">
                        <div class="col-sm-5">
                         <div class="form-box form-top">
							<h2><strong>Compress Video and Upload on S3</h2>
                            <div class="description">
                              <p style="text-align: justify;"> Upload video with your desired resolution and chose one audio frequency given, your video will be saved with specification you mentoined on AWS S3!</p>
                            </div>
                          </div>
                        </div>
                        <!-- divider -->     
                        <div class="col-sm-1"></div>                   
                        <!-- divider end --> 	
                        <div class="col-sm-6">
                        	<div class="form-box">
	                            <div class="form-bottom">
				                    <form action="" method="POST" enctype="multipart/form-data" role="form" class="login-form">
				                    	<div class="form-group">
                                          {{ form.as_p }}
	                                      {% csrf_token %}
                                          <button type="submit" class="btn">Upload</button>
				                        </div>
				                    </form>
			                    </div>
		                    </div>
                        </div>
                    </div>
                    <!-- another row for listing videos -->
                    <br/><br/>
					<div class="row">
					  <h2><strong>Here are all videos </strong></h2>
					<div class="col-xs-12 col-md-4">
                      {% for vi in video_list %}
                        <a href="{{ vi.compressed_video.url }}" target="blank">{{ vi.title }}</a>
                        </div>
                      {% if forloop.counter|divisibleby:3 %}
                        <div class="row">
                          <div class="col-xs-12 col-md-4">
                      {% else %}
                        <div class="col-xs-12 col-md-4">
                      {% endif %}
                    {% endfor %}
					</div>

            </div>
            
        </div>

        <!-- Javascript -->
        <script src="{% static "video_compress/js/jquery-1.11.1.min.js" %}"></script>
        <script src="{% static "video_compress/bootstrap/js/bootstrap.min.js" %}"></script>

    </body>

</html>